// main.scss

// Variables (Tokens) & Base resets
@import './_variables.scss';
@import './_base.scss';
@import './_layout.scss';

// Components
@import './_components/_forms.scss';
@import './_components/_buttons.scss';
@import './_components/_cards.scss';
@import './_components/_menu.scss';

// Feature-specific styles
@import './_features/_calculator.scss';
@import './_features/_metronome.scss';
@import './_features/_timer.scss';
@import './_features/_records.scss';

// Utilities & Responsive
@import './_utilities.scss';